In [1]:
import random
import numpy as np
import pandas as pd

entry_list = []
exit_list = []

for i in range(0,100):
    n = random.randint(3,7)
    entry_list.append(n)

for i in range(0,100):
    n = random.randint(5,9)
    exit_list.append(n)

print(entry_list)
print(exit_list)

[5, 6, 3, 7, 4, 4, 3, 6, 7, 4, 7, 3, 7, 7, 3, 5, 3, 4, 4, 5, 3, 5, 6, 5, 6, 6, 3, 4, 4, 7, 6, 7, 5, 6, 3, 3, 6, 6, 4, 4, 6, 4, 4, 7, 7, 7, 7, 5, 3, 5, 7, 4, 5, 5, 3, 4, 4, 4, 3, 7, 3, 6, 7, 4, 5, 5, 4, 6, 5, 7, 4, 6, 4, 5, 7, 4, 7, 4, 7, 7, 6, 5, 6, 3, 3, 4, 4, 7, 4, 3, 5, 5, 4, 4, 5, 3, 5, 3, 3, 7]
[7, 9, 7, 9, 6, 9, 9, 9, 8, 5, 5, 7, 7, 5, 8, 8, 6, 6, 6, 5, 5, 7, 8, 9, 8, 5, 9, 8, 6, 8, 9, 6, 7, 6, 6, 7, 6, 5, 9, 7, 5, 9, 9, 7, 9, 9, 9, 9, 9, 7, 8, 8, 8, 8, 5, 5, 5, 7, 8, 6, 9, 6, 9, 8, 6, 9, 5, 6, 8, 7, 8, 8, 9, 9, 5, 8, 5, 8, 6, 9, 5, 8, 5, 7, 6, 8, 7, 9, 7, 5, 8, 6, 9, 6, 6, 9, 8, 7, 7, 5]

In [2]:
df = pd.DataFrame({"entry":entry_list,"exit":exit_list})
df.to_csv('risk analysis.csv')

In [3]:
ROI = (df['exit']-df['entry'])/df['entry']
df = pd.DataFrame({"entry":entry_list,"exit":exit_list,"roi":ROI})
df

    entry  exit       roi
0       5     7  0.400000
1       6     9  0.500000
2       3     7  1.333333
3       7     9  0.285714
4       4     6  0.500000
..    ...   ...       ...
95      3     9  2.000000
96      5     8  0.600000
97      3     7  1.333333
98      3     7  1.333333
99      7     5 -0.285714

[100 rows x 3 columns]

In [4]:
pos_list = []
neg_list = []
for ints in df.roi:
    if ints < 0:
        neg_list.append(ints)
    elif ints >= 0:
        pos_list.append(ints)

p_of_win = len(pos_list)/len(df.roi)
p_of_loss = 1-p_of_win
roi = np.mean(df.roi)

bet_percent = ((roi*p_of_win-p_of_loss)/roi)*100

print(f"probability of winning is {p_of_win}")
print(f"probability of losing is {p_of_loss}")
print(f"mean roi is {roi+1}")
print(f"you should bet {bet_percent}% of you balance")

probability of winning is 0.87
probability of losing is 0.13
mean roi is 1.5917142857142856
you should bet 0.6502993722839208% of you balance

In [7]:
#t interval for mean roi
from scipy.stats import t
dof = len(df.roi)-1
t_crit = np.abs(t.ppf((1-0.95)/2,dof))
sd = np.std(df.roi)
def t_interval(mean:float,std:float):
    """
    gjyfyjfjy
    """
    lower = (mean-t_crit*std/np.sqrt(dof))
    upper = (mean+t_crit*std/np.sqrt(dof))
    return (lower,upper)

print (f"We are 95% confident that the true mean of roi of each trade is between the interval of {t_interval(roi,sd)}")

We are 95% confident that the true mean of roi of each trade is between the interval of (0.47571991093726457, 0.707708660491307)

In [8]:
print(t_interval)

<function t_interval at 0x7fbd8a413ee0>